<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/logo wardope.png" type="image/png">
    <title>WarDope</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect"  href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" type="text/css" rel="stylesheet"> 

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"  type="text/css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" type="text/css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/lib/owlcarousel/assets/owl.carousel.min.css"> -->
   
      <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" type="text/css" rel="stylesheet">

    <style>
        .dropdown {
            position: relative;
            display: inline-block;
        }
    
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 1;
            right: 0;
            padding: 10px 0;
            margin-top:-10px;
        }
    
        .dropdown-content a {
            color: black;
            
            padding: 2px 2px;
            text-decoration: none;
            display: block;
            padding: 12px 16px;
        }
    
        .dropdown-content a:hover {
            background-color: #ffffff;
        }
    
        .dropdown:hover .dropdown-content {
            display: block;
        }
    
        .dropdown:hover .dropdown-btn {
            background-color: #3e8e41;
        }
    
        .header {
            position: relative;
            z-index: 500;
        }

        .zoom-container {
        position: relative;
        overflow: hidden;
    }

        .zoom-image {
            width: 100%;
            height: auto;
            transition: transform 0.25s ease;
        }

    .magnifier {
        /* position: absolute; */
        border: 3px solid #000;
        background-color: rgba(255, 255, 255, 0.5);
        display: none;
        pointer-events: none;
        border-radius: 50%;
        z-index: 100;
    }

    .stock-count {
    color: green;
    }

    </style>

</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid">
        <div class="row align-items-center py-3 px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <a href="" class="text-decoration-none">
                    <h1 class="m-0 display-5 font-weight-semi-bold">
                    <span class="text-primary font-weight-bold border px-1 mr-1">W</span>ar
                    <span class="text-primary font-weight-bold border px-1 mr-1">D</span>ope</h1>
                </a>
            </div>
            <div class="col-lg-6 col-6 text-left">
               
            </div>
            <div style="text-align: end;" class="col-lg-3 col-6 text-right">
                <a href="/wishlist" class="btn border">
                    <i class="fas fa-heart text-primary"></i>
                    <span class="badge"></span>
                </a>
                <a href="/cart" class="btn border">
                    <i class="fas fa-shopping-cart text-primary"></i>
                    <span class="badge"></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5 ">
           
            <div class="col">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0 display-5 font-weight-semi-bold"><span class="text-primary font-weight-bold border px-3 mr-1">E</span>Shopper</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse " id="navbarCollapsed">
                        <div class="navbar-nav mr-auto py-0">
                            <a href="/" class="nav-item nav-link">Home</a>
                            <a href="/productList" class="nav-item nav-link">Shop</a>
                            <a href="/wallet" class="nav-item nav-link">Wallet</a>
                            <a href="/orders" class="nav-item nav-link">Orders</a>
                            <a href="/address" class="nav-item nav-link">Address</a>
                        </div>
                        <div class="navbar-nav mr-0">
                            <% if (locals.user){ %>
                                <div class="dropdown">
                                    <a href="#" class="nav-link dropdown-toggle mr-4" data-toggle="dropdown"><%= locals.user.name %></a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="/userProfile" class="dropdown-item">Profile</a>
                                    <a href="/logout" class="dropdown-item">Log Out</a>
                                </div>
                              <% } else { %>
                                <a href="/login" class="nav-item nav-link">Login</a>
                                <a href="/signup" class="nav-item nav-link">Register</a>
                              <% } %>
                              </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>